/* || VARIABLES  */

:root {
  --main-color-1: rgb(255, 255, 255);
  --main-color-2: rgb(0, 0, 0);
  --gradient-color-1: #451561;
  --gradient-color-2: #3ddd9a;
  --logo-thick: 'Young Serif', serif;
  --logo-thin: 'Noto Serif Display', serif;
  --section-font: 'Noto Serif', serif;
  --main-font: 'Catamaran', sans-serif;
  --base-size: 11px;

  --logo-head-mobile-height: 35px;
  --logo-head-tablet-height: 40px;
  --logo-head-desktop-height: 50px;

  --footer-mobile-height: 40px;
  --footer-tablet-height: 45px;
  --footer-desktop-height: 50px;
}

/* || GENERAL STYLING */

html {
  font-family: var(--main-font);
  font-size: var(--base-size);
  background-color: var(--main-color-1);
  margin: 0;
  height: 100%;
}

body {
  background-color: var(--main-color-1);
  margin: 0;
  height: 100%;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-areas: "top" "main" "foot";
  grid-template-rows: auto 1fr auto;
}

nav {    
  width: 100%;
  grid-area: top;
  background: linear-gradient(45deg, var(--gradient-color-1) 50%, var(--gradient-color-2) 100%);
}

/* || HEADER */

.logo-head a {
  color: var(--main-color-1);
  text-decoration: none;
}

.logo-head-pt1 {
  font-family: var(--logo-thick);
  font-weight: 900;
  letter-spacing: 0.03em;
}
.logo-head-pt2 {
  font-family: var(--logo-thin);
  font-weight: 200;
  letter-spacing: 0.02em;
  font-style: italic;
}
.logo-head-pt3 {
  font-family: var(--logo-thin);
  font-weight: 600;
  letter-spacing: 0.03em;
}

/* Mobile menu */
nav {
  height: var(--logo-head-mobile-height);
}
.logo-head {
  margin: 2.5px 2.5%;
}
.logo-head-pt1, .logo-head-pt2, .logo-head-pt3 {
  font-size: 2em;
}

/* Small screen logo-head settings */
@media all and (max-width: 355px) { 
  .logo-head-pt1, .logo-head-pt2, .logo-head-pt3 {
      font-size: 1.75em;
  }
}

/* Tablet menu */
@media all and (min-width: 600px) {
  nav {
    height: var(--logo-head-tablet-height);
  }
  .logo-head {
      margin: 1.5px 5%;
  }
  .logo-head-pt1, .logo-head-pt2, .logo-head-pt3 {
      font-size: 2.25em;
  }
}
/* Laptop settings */
@media all and (min-width: 992px) {
  nav {
      height: var(--logo-head-desktop-height);
  }
  .logo-head {
      margin: 3px 10%;
  }
  .logo-head-pt1, .logo-head-pt2, .logo-head-pt3 {
      font-size: 2.75em;
  }
}

/* || MAIN BODY */

main {
  grid-area: main;
}

main > div {
  display: grid;
  gap: 0;
  background-color: var(--main-color-1);
  padding: 0;
}

.main-content {
  grid-column: 2;
  text-align: left;
}

/* Mobile settings */
main > div {
  margin: 40px 0 50px;
  grid-template-columns: 7.5% auto 7.5%;
}
/* Tablet settings */
@media all and (min-width: 600px) {
  main > div {
      margin: 60px 0 70px;
      grid-template-columns: 10% auto 10%;
  }
}
/* Laptop settings */
@media all and (min-width: 992px) {
  main > div {
      margin: 80px 0 90px;
      grid-template-columns: 15% auto 15%;
  }
}
/* Desktop settings */
@media all and (min-width: 1200px) {    
  main > div {
      grid-template-columns: 20% auto 20%;
  }
}

/* || FOOTER */

footer {
  grid-area: foot;
  z-index: 0;
  width: 100%;
  background: linear-gradient(35deg, var(--gradient-color-1) 80%, var(--gradient-color-2) 100%);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
} 

.socials-foot {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.socials-foot-icon {
  color: var(--main-color-1);
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0);
  padding: 0;
}
.socials-foot-icon:hover {
  cursor: pointer;
}

.logo-foot a {
  color: var(--main-color-1);
  text-decoration: none;
}
.logo-foot-pt1 {
  font-family: var(--logo-thick);
  font-weight: 900;
  letter-spacing: 0.03em;
}
.logo-foot-pt2 {
  font-family: var(--logo-thin);
  font-weight: 200;
  letter-spacing: 0.02em;
  font-style: italic;
}
.logo-foot-pt3 {
  font-family: var(--logo-thin);
  font-weight: 600;
  letter-spacing: 0.03em;
}

/* Mobile settings */
footer {
  height: var(--footer-mobile-height);
}
.socials-foot {
  margin: auto 5%;
}
.socials-foot-icon {
  font-size: 22px; 
  margin-right: 20px; 
}
.logo-foot {
  margin: auto 5%;
}
.logo-foot a {
  font-size: 2.25em;
}
/* Tablet arrangement */
@media all and (min-width: 650px) {
  footer {
      height: var(--footer-tablet-height);
  }
  .socials-foot-icon {
      font-size: 25px; 
      margin-right: 30px;
  }
  .logo-foot a {
      font-size: 2.75em;
  }
}
/* Desktop arragement */
@media all and (min-width: 992px) {
  footer {
      height: var(--footer-desktop-height);
  }
  .socials-foot {
      margin: auto 7.55%;
  }
  .logo-foot {
      margin: auto 7.5%;
  }
}